<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Botalite 🤖 Chatbots to shape a better service for your community ✨{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css">

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script type="module" src="{{ asset('js/cookie-consent.js') }}"></script>

        <script
                type="text/plain"
                data-category="analytics"
                async src="https://www.googletagmanager.com/gtag/js?id=G-PHZJ5L7LPP">
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-PHZJ5L7LPP');
        </script>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
